.env
.venv/
.vscode/
lab*/labs-alunos*/
lab*/labs-teste/*/*.cpp
lab*/labs-teste/*/outputs/*
lab*/erros-alunos
lab*/src/__pycache__/
lab*/testcases*/**/*/
!lab*/testcases/exemplo-classroom/**
lab*/**/a.out
lab*/**/logs_correcao*.txt